*
{
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Montserrat', sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: #acacac;
    background-image: url(/web/images/bateria.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 109%;
    background-position-y: 28rem;
}

.head-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.head-main h1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: #89c627;
    text-shadow: 1px 2px 3px #3c5959;
}

.head-main h1 #bateria
{
    width: 12%;
}

.head-main p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #3c5959;
}

.quiz_class
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #3c5959;
}

.top-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-collect p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 3px #3c5959;
}

#btn-collect #mapa
{
    width: 12%;
}

#btn-collect
{
    height: 5rem;
    width: 12rem;
    border-radius: 3rem;

    border-color: #3c5959;
    background-color: #89c627;
    border: 0;

    margin-top: 2%;
    margin-left: 3rem;
}

@keyframes btn-collect 
{
    0%    { opacity: 0; }
    20%   { opacity: 1; }
}

#btn-collect:hover
{
    animation: btn-collect 3s;
    box-shadow: 0 0 40px 40px #d3ff8b inset;
}

.map_close_of_you
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_expla
{
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    width: 100px;
}



